body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.navbar {
    background: #0b5ed7;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.top {
    padding: 70px;
    text-align: center;
    background: #e7f0ff;
}

.section {
    padding: 40px;
    text-align: center;
}

.section.gray {
    background: #eeeeee;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    margin: 10px;
    width: 200px;
}

.form-box {
    width: 300px;
    margin: 40px auto;
    background: white;
    padding: 20px;
}

input, select {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.btn {
    background: #0b5ed7;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.btn-outline {
    border: 1px solid white;
    padding: 6px;
}

.footer {
    background: #0b5ed7;
    color: white;
    text-align: center;
    padding: 10px;
}
