<!DOCTYPE html>
<html>
    <head>
        <title>Item Rental Management System</title>
    </head>

    <body>

        <div class="header">
            <h1>Item Rental Management System</h1>
            <p>Rent and Manage Items Easily</p>

            <a href="login.html" class="button">Login</a>
            <a href="register.html" class="button">Register</a>
        </div>

        <div class="section">
            <h2>About Our System</h2>
            <p>
                The Item Rental Management System helps owners manage their rental items and allows users to rent items easily. This system is designed to simplify item tracking, availability management, and rental operations.
            </p>
        </div>

    </body>
    

</html>